@{
    ViewData["Title"] = "Product - Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product Created</h2>
<p>Your product has been created</p>
<a asp-action="Create">Create another product</a>
