@{
    ViewData["Title"] = "Store - View Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model int

<h2>Product details</h2>
<p>you are viewing product with ID: <strong>@Model</strong></p>
